html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: #111111;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#chat-container {
	display: flex;
	flex-flow: column;
	min-height: 300px;
	min-width: 680px;
    height: 100%;
    width: 60%;
	padding: 5px;
	margin: auto;
	background-color: rgba(100, 100, 100, 0.7);
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#chat-send {
    flex-grow: 1;
    margin-right: 5px;
}

#chat-send-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#chat-send-container * {
    height: 37px;
}

#send-area {
	display: flex;
	flex-flow: column nowrap;
}

.input-rounded {
	background-color: #444444;
    color: white;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 2em 2em 2em 2em;
}

#join-chat .input-rounded {
	background-color: white;
	color: black;
	text-align: center;
}

#join-chat {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column wrap;
	justify-content: space-between;
    align-items: center;
    height: 100px;
	z-index: 2;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px 10px #252525;
}

.buttonBlue {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0 0 0;
	border-radius: 2em 2em 2em 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #ffffff;
	background-color: rgb(100, 100, 236);
	text-align: center;
	transition: all 0.2s;
}

.buttonBlue:hover {
	background-color: rgb(50, 47, 236);
}

.black {
	background-color: #444444;
	color: white;
}

#chat-history li {
	overflow: hidden;
	padding: 5px;
}

#chat-history .username {
	padding-right: 5px;
}

#connected-users-container {
	position: absolute;
	z-index: 3;
	right: 0;
	top: 0;
	padding: 10px;
}

#chat-history {
	list-style: none;
	margin: auto;
	padding: 8px;
	height: 100%;
	width: 100%;
	overflow: auto;
	color: black;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#chat-history li {
	padding: 5px;
	font-size: 1em;
	margin-top: 10px;
	border: 1px solid rgba(100, 100, 100, 0.5);
	border-radius: 5px;
	background-color: rgba(245, 245, 245, 0.5);
	opacity: 0.8;
	animation-duration: 1s;
	animation-name: fadeIn;
}

#chat-history li:hover {
	opacity: 1;
}

#chat-history li span {
	padding-right: 3px;
}

.outline {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}

.username {
	color: rgb(95, 10, 10);
	font-style: italic;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}

.message {
	color: black;
}

.errorMsg {
	color: darkred;
	font-style: italic;
}

.infoMsg {
	color: rgb(0, 55, 150);
	font-style: italic;
}

.date {
	display: inline;
	color: #1e1e56;
	font-size: 80%;
	font-style: bold;
}

.white-border {
	border: 1px solid white;
}


.show-block {
	display: inline !important;
}

.show-inline {
	display: inline !important;
}

.fadeInAnimation {
	animation-duration: 1s;
	animation-name: fadeIn;
}

/* ACTIONS BOX */
#actions {
	margin: 0 10px;
}

/* WIZZ STYLE  */
#wizzBtn {
	font-size: 2rem;
	border-radius: 50%;
	border-color: rgba(245, 245, 245, 0);
	background-color: rgba(245, 245, 245, 0);
}

.actions-btn:hover {
	transform: scale(1.1);
}

.wizzAnimation {
	animation: shake 0.3s;
	overflow-y: hidden;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.8;
	}
}

@keyframes shake {

	0%,
	45%,
	90% {
		transform: translate(-10px, -10px);
	}

	20%,
	75%,
	46% {
		transform: translate(10px, -10px);
	}

	30%,
	100%,
	70% {
		transform: translate(10px, 10px);
	}

	80%,
	62%,
	40% {
		transform: translate(-10px, 10px);
	}
}

@media only screen and (max-width: 680px) {
	#connected-users-container {
		display: none;
	}

	#chat-container {
		width: 100%;
		min-width: 320px;
	}

	#chat-container .date {
		display: none;
	}

	.container {
		padding: 0;
	}
}

@media only screen and (max-width: 320px) {
    #chat-send-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #chat-container {
		min-width: 0px;
	}

    #chat-send {
        flex-grow: 0;
        min-width: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
}
