html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #111111;
}

#chat-container {
    display: flex;
    flex-flow: column;
    min-height: 300px;
    min-width: 300px;
    height: 100%;
    width: 50%;
    padding: 5px;
    margin: auto;
    background-color: #444444;
}

.centered {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#send-area {
    display: flex;
    flex: row wrap;
}

#send-area #chat-send {
    flex-grow: 1;
    background-color: #444444;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.black {
    background-color: #444444;
    color: white;
}

#join-chat {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 10px #252525;
}

#join-chat input{
    margin-bottom: 5px;
}

#chat-history li {
    overflow: hidden;
    padding: 5px;
}

#chat-history .username {
    padding-right: 5px;
}

#connected-users-container{
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    padding: 10px;
}

#send-area button {
}
#chat-history {
    list-style: none;
    margin: auto;
    padding: 8px;
    height: 100%;
    width: 100%;
    overflow: auto;
    border: 1px solid black;
    color: white;
}

#chat-history li {
    padding: 5px;
    margin-top: 10px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 5px;
    background-color: rgba(200, 200, 200, 0.5);
}

.username {
    color: black;
    font-style: italic;
}

.message {

}

.date {
    color: #1e1e56;
    font-size: 80%;
    font-style: bold;
}

.white-border {
    border: 1px solid white;
}

@media only screen and (max-width:500px){
    #connected-users-container{
        display: none;
    }

    #chat-container {
        width: 100%;
    }
}